extends layout

block stylesheet
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div.container(style="padding-top:50px")
    div.row
      div.col-md-2
      div.col-md-8
        div.container
          h1= title
          p Welcome to #{title}
        div.container
          ul(class="pages")
            li(class="chat page")
              div(class="chatArea")
                ul(class="messages")
              input(class="inputMessage" placeholder="Type here...")
            li(class="login page")
              div(class="form")
                h3(class="title") What's your username?
                input(class="usernameInput" type="text" maxlength="14")
      div.col-md-2

block footscripts
  script(src="javascripts/socket.io.js")
  script(src="/javascripts/chat.js")
